{% extends 'base.html' %}
{% block content %}
{% if error %}
 {{ error }}<br><br>
{% endif %}
<h1>LOG IN ...!</h1>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="form-row">

  <div class="form-group col-md-6">
    <label for="inputEmail4">Username</label>
    <input type="text" class="form-control" name="username">
    <label for="inputPassword4">Password</label>
    <input type="password" class="form-control" name="inputPassword4" placeholder="Password">
</div>
</div>
<button type="submit" class="btn btn-danger">Log In</button>
</form>
{% endblock %}
